{% extends "layout.html" %}

{% block title %}
    Withdrawl
{% endblock %}

{% block main %}
    <form action="{{ url_for('withdrawl') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="amount" placeholder="Amount" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Withdrawl</button>
            </div>
        </fieldset>
    </form>
{% endblock %}